<footer class="footer" th:fragment="footer">
  <div class="footer-page flex-space-between">

    <div>
      <p class="text-regular">Post Blog</p>
    </div>

    <div>
      <div class="links">
        <a href="https://github.com/devGabrielNathan/spring-news-web" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <ul>
          <li><a class="text-small btn-primary" href="/">Início</a></li>
          <li th:if="${isAuthenticated}"><a class="text-small btn-primary" href="/logout">Sair</a></li>
          <li th:unless="${isAuthenticated}"><a class="text-small btn-primary" href="/login">Entrar</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <span>&copy; <span th:text="${T(java.time.LocalDate).now().year}">2026</span> Post Blog. Todos os direitos
      reservados.</span>
  </div>
</footer>