<header class="form-header" th:fragment="navbar-form" xmlns:th="http://www.thymeleaf.org">
    <div class="form-header-left">
        <a th:href="@{/admin/news}" class="form-back-btn" title="Voltar para Gerenciamento">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <div class="form-title-group">
            <span class="form-title-text" th:text="${newsId != null} ? 'Atualizar Notícia' : 'Nova Notícia'">Nova
                Notícia</span>
        </div>
    </div>

    <!-- <div class="form-header-right">
        <div class="form-status-pill">
            <i class="fa-solid fa-cloud-arrow-up"></i>
            <span>Salvo há 2 min</span>
        </div>
    </div> -->
</header>